apiVersion: cloudDeploy/beta1
kind: target
name: prod
deliveryPipeline: web-app
description: prod cluster
approvalRequired: true
gkeCluster:
  project: ${PROJECT_ID}
  cluster: prod
  location: ${REGION}
